<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @for(item of listaCategorias; track $index) {
        <ion-list>
          <ion-item (click)="abrirModalDetalle(item)"> <!-- Enviamos el item en el paremetro del metodo para recibir un dato de tipo entrada -->
            <ion-thumbnail slot="start">
              <img alt="error de imagen" [src]="item.image" />
            </ion-thumbnail>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>

          <ion-button (click)="compartirCategoria(item)">
            <ion-icon name="ellipsisvertical-outline"></ion-icon>
          </ion-button>

        </ion-list>
        
      }
    </ion-card-content>
  </ion-card>
</ion-content>
