<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      USUARIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for(item of listaUsuarios; track $index) {
        <ion-col size="12" size-lg="3" size-md="4" sime-sm="4" size-xs="6">
          <ion-card class="ion-text-center" (click)="abrirModalDetalle(item)">
            <img alt="error de imagen" [src]="item.avatar" style="border-radius: 50%; display: block; margin: 0px auto;"  />
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
